<table>
  <thread>
    <img src="<%= image_path('/tests/HANNI.png') %>">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Body</th>
        <th><%= link_to 'New Article', new_article_path %> </th>
      </tr>
    </thread>

    <tbody>
      <%= render "article" %>
    </tbody>
</table>