<table>
  <thead>
    <img src="<%= image_path('/tests/HANNI.png')%>">
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th><%= link_to 'New Article', new_article_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <%= render "article", article: article %>
      </tr>
    <% end %>
  </tbody>
</table>
