<style>

 * {
  color: #820f17
  background-color: #f5e9dc;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  text-align: center;
}
</style>

<table>
  <thead>

    <tr>
      <th>Title</th>
      <th>Story Preview</th>
      <th><%= link_to 'Create a Story', new_article_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <%= render "article", article: article %>
      </tr>
    <% end %>
  </tbody>
</table>
